@charset "UTF-8";
/* Стандартные настройки */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.header-container {
  background-color: #F7F7F7;
}

.nav-container {
  background-color: #F7F7F7;
}

.cover-container {
  background-image: url(../img/bg-cover.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.services-container {
  background-color: #161D23;
}

/* Шапка */
.header__bar-img {
  display: none;
  width: 60px;
  height: 60px;
}

header {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
  background-color: #F7F7F7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

header img:not(.header-logo) {
  height: 25px;
  float: left;
  margin-right: 5px;
}

header .header-item-adress {
  margin-bottom: 10px;
}

header .header-item-adress img {
  margin-top: 5px;
}

header .header-item-adress .header-item-span-1 {
  display: block;
}

header .header-item-adress .header-item-span-2 {
  font-size: 0.8rem;
}

header .header-item-datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-center img {
  height: 40px;
}

header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-right .header-right-info {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-right .header-right-info:last-child {
  margin-bottom: 0px;
}

header .header-right span {
  margin-right: 10px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

nav a {
  text-decoration: none;
  padding: 10px 10px;
  font-weight: bold;
  color: #000;
}

nav a:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  min-height: 650px;
  color: #fff;
}

.cover .cover__content {
  margin: auto;
}

.cover h1 {
  font-size: 46px;
  text-align: center;
  margin: 0 0 1.5rem;
}

.cover h2 {
  text-align: center;
  font-weight: normal;
  margin: 40px 0 40px 0;
}

.cover .cover__buttons {
  text-align: center;
  margin-top: 40px;
  text-decoration: none;
}

.cover .cover__buttons .cover__buttons__btn-1 {
  padding: 20px 30px;
  margin: 0 10px;
  color: #fff;
  background-color: #F7BA08;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.cover .cover__buttons .cover__buttons__btn-1:hover {
  background-color: #947005;
}

.cover .cover__buttons .cover__buttons__btn-2 {
  padding: 18px 30px;
  margin: 10px 10px 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  border: solid #F7BA08 2px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  cursor: pointer;
}

.cover .cover__buttons .cover__buttons__btn-2:hover {
  background-color: #fff;
  border: solid #fff 2px;
  color: #000;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  background-color: #F7F7F7;
}

.stats__item {
  text-align: center;
  margin: 0 50px;
}

.stats__item span {
  font-size: 64px;
  color: #CA6E1B;
  font-weight: bold;
}

.stats__item p {
  font-size: 20px;
}

.services {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  padding: 110px 0 110px 0;
  background-color: #161D23;
  color: #fff;
}

.services h2 {
  margin: 0 0 35px 0;
  font-size: 40px;
  text-align: center;
}

.services__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-row-gap: 40px;
  grid-column-gap: 90px;
}

.services__items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__items__item img {
  width: 60px;
  margin-right: 15px;
}

.services__items__item p {
  font-size: 20px;
}

.advantages {
  padding: 110px 0 110px 0;
  background-color: #F7F7F7;
}

.advantages h2 {
  margin: 0 0 35px 0;
  font-size: 40px;
  text-align: center;
}

.advantages__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: 40px;
  grid-column-gap: 30px;
}

.advantages__items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  padding: 15px;
}

.advantages__items__item:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 25px #000;
          box-shadow: 0 0 25px #000;
}

.advantages__items__item img {
  width: 150px;
}

.advantages__items__item span {
  font-size: 26px;
  font-weight: bold;
  margin: 25px 0 25px 0;
}

.advantages__items__item p {
  margin: 0;
  text-align: center;
}

.portfolio {
  background-color: #161D23;
  padding: 110px 0 110px 0;
}

.portfolio h2 {
  margin: 0 0 35px 0;
  font-size: 40px;
  text-align: center;
  color: #fff;
}

.portfolio .portfolio__slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  position: relative;
}

.portfolio .portfolio__slider #btn__prev, .portfolio .portfolio__slider #btn__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CA6E1B;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .portfolio__slider #btn__prev:hover, .portfolio .portfolio__slider #btn__next:hover {
  background-color: #eaa261;
}

.portfolio .portfolio__slider #btn__prev img, .portfolio .portfolio__slider #btn__next img {
  width: 20px;
}

.portfolio .portfolio__slider .portfolio__slide {
  width: 100%;
  height: 100%;
  justify-items: center;
  display: none;
}

.portfolio .portfolio__slider .portfolio__slide img {
  border-radius: 10px;
  width: 840px;
  height: 480px;
}

.portfolio .portfolio__slider .portfolio__slide.active {
  display: block;
}

.portfolio .portfolio__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .portfolio__dots .portfolio__dot {
  background-color: #fff;
  margin: 0 8px 0 8px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 30px;
  width: 10px;
  height: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .portfolio__dots .portfolio__dot:hover {
  background-color: #CA6E1B;
}

.portfolio .portfolio__dots .portfolio__dot.active {
  background-color: #CA6E1B;
}

.portfolio .portfolio__look-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  padding: 20px 30px 20px 30px;
  margin: 65px auto 0 auto;
  text-decoration: none;
  border-radius: 5px;
  background-color: #CA6E1B;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .portfolio__look-all:hover {
  background-color: #eaa261;
}

.customers {
  background-color: #fff;
  padding: 110px 0 110px 0;
}

.customers h2 {
  margin: 0 0 35px 0;
  font-size: 40px;
  text-align: center;
}

.customers__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.customers__items img {
  max-width: 240px;
  max-height: 130px;
}

.map {
  padding: 50px 0 50px 0;
  background-color: #161D23;
  text-align: center;
}

.form {
  padding: 110px 0 110px 0;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 25px;
}

.form__message {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  width: 650px;
}

.form form {
  -ms-grid-column-align: center;
      justify-self: center;
}

.form form .form_form {
  height: 45px;
  width: 650px;
  margin-bottom: 20px;
}

.form form .form__btn {
  text-align: center;
}

.form form .form__button {
  padding: 15px 30px 15px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #CA6E1B;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form form .form__button:hover {
  background-color: #eaa261;
}

.form form p {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

footer {
  padding: 50px 150px 50px 150px;
  background-color: #000;
  color: #fff;
}

footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__container .footer__left p {
  margin-top: 5px;
  font-size: 14px;
}

footer .footer__container .footer__center img {
  height: 40px;
}

footer .footer__container .footer__right {
  text-align: right;
}

footer .footer__container .footer__right .footer__right__mail {
  margin-top: 10px;
}

footer .footer__copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */