@charset "UTF-8";
/* Стандартные настройки */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* Шапка */
header {
  padding: 15px 150px 15px 150px;
  background-color: #F7F7F7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

header img:not(.header-logo) {
  height: 25px;
  float: left;
  margin-right: 5px;
}

header .header-item-adress {
  margin-bottom: 10px;
}

header .header-item-adress img {
  margin-top: 5px;
}

header .header-item-adress .header-item-span-1 {
  display: block;
}

header .header-item-adress .header-item-span-2 {
  font-size: 0.8rem;
}

header .header-item-datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .header-center img {
  height: 40px;
}

header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-right .header-right-info {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-right .header-right-info:last-child {
  margin-bottom: 0px;
}

header .header-right span {
  margin-right: 10px;
}

nav {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav a {
  text-decoration: none;
  padding: 10px 10px;
  font-weight: bold;
  color: #000;
}

nav a:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
  color: #fff;
  background-image: url(../img/bg-cover.jpg);
  background-size: cover;
}

.cover .cover-content {
  margin: auto;
}

.cover h1 {
  font-size: 46px;
  text-align: center;
  margin: 0 0 1.5rem;
}

.cover h2 {
  text-align: center;
  font-weight: normal;
}

.cover .buttons {
  text-align: center;
  margin-top: 40px;
}

.cover .buttons .cover-btn-1 {
  padding: 20px 30px;
  margin: 0 10px;
  color: #fff;
  background-color: #F7BA08;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
}

.cover .buttons .cover-btn-1:hover {
  background-color: #947005;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cover .buttons div {
  padding: 18px 30px;
  margin: 0 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  border: solid #F7BA08 2px;
  display: inline-block;
  text-decoration: none;
}

.cover .buttons div:hover {
  background-color: #fff;
  border: solid #fff 2px;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=style.css.map */