//Секция с фотографиями
.photos {
    max-width: 1140px;
    margin: 0 auto 8rem;
    h1 {
        margin-top: 0;
        padding-top: 21.44px;
        text-align: center;
        font-size: 4rem;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 15px; 
        &-item {
            img {
                width: 100%;
            }
            span {
                display: block;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

// Стили для страницы с категориями услуг
.photos__items__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem 0;
    text-decoration: none;
    span {
        color: white;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    &:hover > span {
        transition: 0.5s;
        color: yellow;
    }
}
.item__nav-1 {
    background-image: url(/img-items/nav/1.jpg);
    background-size: cover;
}
.item__nav-2 {
    background-image: url(/img-items/nav/2.jpg);
    background-size: cover;
}
.item__nav-3 {
    background-image: url(/img-items/nav/3.jpg);
    background-size: cover;
}
.item__nav-4 {
    background-image: url(/img-items/nav/4.jpg);
    background-size: cover;
}
.item__nav-5 {
    background-image: url(/img-items/nav/5.jpg);
    background-size: cover;
}
.item__nav-6 {
    background-image: url(/img-items/nav/6.jpg);
    background-size: cover;
}
.item__nav-7 {
    background-image: url(/img-items/nav/7.jpg);
    background-size: cover;
}
.item__nav-8 {
    background-image: url(/img-items/nav/8.jpg);
    background-size: cover;
}
.item__nav-9 {
    background-image: url(/img-items/nav/9.jpg);
    background-size: cover;
}
.item__nav-10 {
    background-image: url(/img-items/nav/10.jpg);
    background-size: cover;
}

@media screen and (max-width: 1200px) { // 1100
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 990px) { //800
    html {
        font-size: 8px;
    }
    
}

@media screen and (max-width: 650px) { //700
    html {
        font-size: 7px;
    }
    .photos__items {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 6px;
    }
    .photos__items {
        grid-template-columns: 1fr;
    }
}