@media screen and (max-width: 1200px) { // 1100
    //Шапка
    header {
        max-width: 860px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    //Секция "Наши услуги"
    .services__items {
        grid-row-gap: 30px;
        grid-column-gap: 20px;
    }
}

@media screen and (max-width: 960px) { //800
    //Шапка
    .header__bar-img {
        display: block;
        position: fixed;
        left: 10px;
        top: 10px;
    }
    header {
        display: none;
    }
    //Навигация
    nav {
        display: none;
    }
    //Обложка
    .cover__content {
        h1 {
            font-size: 36px;
        }
    }
    //Секция "Наши услуги"
    .services__items {
        grid-template-columns: 550px;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) { //700
    //Обложка
    .cover__content {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 22px;
        }
    }
    .cover__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    //Статистика компании
    .stats__item {
        margin: 0 20px;
    }
    .services__items {
        grid-template-columns: 1fr;
        &__item {
            img {
                width: 45px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    //Статистика компании
    .stats {
        display: flex;
        flex-direction: column;
    }
}