@media screen and (max-width: 1200px) { // 1100
    html {
        font-size: 9px;
    }
    //Шапка
    header {
        max-width: 94rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    //Секция "Наши услуги"
    .services__items {
        grid-row-gap: 3rem;
        grid-column-gap: 2rem;
    }
}

@media screen and (max-width: 960px) { //800
    //Шапка
    .header__bar-img {
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
    }
    header {
        display: none;
    }
    //Навигация
    nav {
        display: none;
    }
    //Обложка
    .cover__content {
        h1 {
            font-size: 3.6rem;
        }
    }
    //Секция "Наши услуги"
    .services__items {
        grid-template-columns: 55rem;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) { //700
    html {
        font-size: 8px;
    }
    //Обложка
    .cover__content {
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2.2rem;
        }
    }
    .cover__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    //Статистика компании
    .stats__item {
        margin: 0 2rem;
    }
    .services__items {
        grid-template-columns: 1fr;
        &__item {
            img {
                width: 4.8rem;
            }
            p {
                font-size: 1.9rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 7px;
    }
    //Статистика компании
    .stats {
        display: flex;
        flex-direction: column;
    }
}