//Переменные
$white: #F7F7F7;
$orange: #CA6E1B;
$yellow: #F7BA08;
$darkBlue: #161D23;

$black_orgn: #000;
$white_orgn: #fff;
$font: 'Roboto', sans-serif;

//Миксины
//Основная кнопка
@mixin button($color) {
    padding: 20px 30px;
    margin: 0 10px;
    color: $white_orgn;
    background-color: $color;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    &:hover {
        background-color: darken($color, 20%);
        transition: 0.5s;
    }
}
//Второстепенная кнопка
@mixin button_2 {
    padding: 18px 30px;
    margin: 0 10px;
    color: $white_orgn;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    border: solid $yellow 2px;
    &:hover {
        background-color: $white_orgn;
        border: solid $white_orgn 2px;
        color: $black_orgn;
        transition: 0.5s;
    }
}
//Заголовок 2 уровня
@mixin headline {
    font-size: 40px;
    text-align: center;
}

/* Стандартные настройки */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: $font;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Шапка */
header {
    padding: 15px 150px 15px 150px;
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    img:not(.header-logo) {
        height: 25px;
        float: left;
        margin-right: 5px;
    }

    .header-item-adress {
        margin-bottom: 10px;
        img {
            margin-top: 5px;
        }

        .header-item-span-1 {
            display: block;
        }

        .header-item-span-2 {
            font-size: 0.8rem;
        }
    }

    .header-item-datetime {
        display: flex;
        align-items: center;
    }

    .header-center{
        align-self: center;
        img {
            height: 40px;
        }

    }

    .header-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .header-right-info {
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .header-right-info:last-child {
            margin-bottom: 0px;
        }
        span {
            margin-right: 10px;
        }
    }
}

//Навигация
nav {
    background-color: $white;
    display: flex;
    justify-content: center;
    a {
        text-decoration: none;
        padding: 10px 10px;
        font-weight: bold;
        color: $black_orgn;
    }
    a:hover {
        background-color: $black_orgn;
        color: $white_orgn;
        transition: 0.5s;
    }
}

//Обложка
.cover {
    display: flex;
    height: 650px;
    color: $white_orgn;
    background-image: url(../img/bg-cover.jpg);
    background-attachment: fixed;
    background-size: cover;
    .cover-content {
        margin: auto;
    }
    h1 {
        font-size: 46px;
        text-align: center;
        margin: 0 0 1.5rem;

    }
    h2 {
        text-align: center;
        font-weight: normal;
    }
    .buttons {
        text-align: center;
        margin-top: 40px;
        .cover-btn-1 {
            @include button($yellow);
        }
        div {
            @include button_2;
            display: inline-block;
            text-decoration: none;
        }
    }
}

//Цифры о компании
.stats {
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: $white;
    &-item {
        text-align: center;
        margin: auto 50px auto 50px;
        span {
            font-size: 64px;
            color: $orange;
            font-weight: bold;
        }
        p {
            font-size: 20px;
        }
    }
}

//Секция "Наши услуги"
.services {
    padding: 100px 180px 100px 180px; //Здесь заданы поля по бокам
    background-color: $darkBlue;
    color: $white_orgn;
    h2 {
        @include headline;
    }
    &-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: column;
        grid-row-gap: 40px;
        grid-column-gap: 40px;
        &-item {
            display: flex;
            align-items: center;
            img {
                margin-right: 15px;
            }
            p {
                font-size: 20px;
            }
        }
    }
}